.formulario {
    text-align: left;
    align-content: flex-start;
}

.form-label {
    font-weight: normal;
}

.subtitle {
    text-align: left;
    font-weight: bold;
    font-size: large;
}

.normal-text {
    font-weight: normal;
}

.add-foto {
    text-align: center;
}

.formulario .btn-t1 {
    background-color: #EF7146;
    color: white;
    border: 3px solid #EF7146;
    font-weight: bold;
}

.formulario .btn-t2 {
    background-color: white;
    color: black;
    border: 3px solid #EF7146;
    font-weight: bold;
}

.formulario button {
    margin: 0.5rem 1rem 0 1rem !important; 
}

.formulario .big {
    margin-left: 100px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 20px;
}

.center {
    text-align: center;
}

.fotoCreate {
    padding: 0 10% 0 10%;
    border-radius: 100%;
}

.formulario img {
    min-height: 100px !important;

}

@media (min-width: 300px) and (max-width: 639px) {
    .usuario--title {
        margin-top: 3rem;
    }
}

@media (min-width: 639px) and (max-width: 790px) {
    .usuario--title {
        margin-top: 1rem;
    }
}