.formulario {
    text-align: left;
    align-content: flex-start;
}

.form-label {
    font-weight: normal;
}

.subtitle {
    text-align: left;
    font-weight: bold;
    font-size: large;
}

.normal-text {
    font-weight: normal;
}

.add-foto {
    text-align: center;
}

.btn-t1 {
    background-color: #EF7146;
    color: white;
    border: 3px solid #EF7146;
    font-weight: bold;
}

.btn-t2 {
    background-color: white;
    color: black;
    border: 3px solid #EF7146;
    font-weight: bold;
}

.small {
    margin: 1rem 0.5rem 0 0.5rem;
    padding: 0 1rem 0 1rem;
    border-radius: 50px;
}

.big {
    margin: 1rem 0.5rem 0 0.5rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 20px;
}

.center {
    text-align: center;
}

.fotoCreate {
    padding: 0 8rem 0 8rem;
    border-radius: 100%;
}