.general--info--container {
  display: grid;
  grid-template-areas: "text image"; /* defines the grid areas */
  grid-template-columns: 1fr auto; /* adjusts column width as needed */
  align-items: center;
  column-gap: 60px;
  margin: 150px;
}

.general--first--text p {
  grid-area: text; /* assigns the grid area to the text element */
}

.general--family--image {
  grid-area: image; /* assigns the grid area to the image element */
  transform: scale(10.0);
}

.second--info--container {
    display: flex;
    align-items: center; /* vertically aligns items in the center */
    margin: 250px;
}

.general--children--image {
    transform: scale(11.0); /* adjust the scaling factor as needed */
}



