
.login-wrapper {
    padding: 2em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.login-btn {
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

.btn {
    color: #FFF;
    background-color: #EF7146;
    border-color: #EF7146;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    
}

.invalid-login {
    color: #CD3232;
    font-weight: bold;
}