footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    width: 100%;
    height: fit-content;

    background: #F8DFD0;
    position: fixed; 
    bottom: 0; 
    width: 100%
}

.col {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

ul {
    list-style-type: none;
    align-items: self-start;
    margin: 10% 0;
    padding:0;
}

li.brand-name {
    font-weight: normal;
    color:black;
}

li.brand-name > span {
    font-weight: bold;
    color:black;
}

li {
    margin: 10% 0;
    color: #646464;
    font-weight: normal;
}


ul.socials > img{
    width: 20%;
}


a {
    font-weight: normal;
    text-decoration: none;
    color: #646464;
}

a:hover {
    text-decoration: none;
    color: #646464;
}
