h1.person-name {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.detail {
    text-align: left;
    /* color: #5A5A5A;*/
}

.detail--subtitle {
    margin-bottom: 4em;
    font-family: 'Rubik';
    font-style: normal;
}

.offer-type {
    font-weight: normal;
}
.experience {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 30px;
}


.image-cropper {
    display: block;
    margin: auto;
}
  
.person-img {
    display: inline;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}

ul {
    align-items: self-start;
    padding: 0;
    margin: 0;
}

.row--request {
    padding: 0 40%;
    margin-top: 4em;
}

.btn--request {
    text-align: center;
    border: none;
    background-color: #EF7146;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    border-radius: .6em;
    padding: .5em 3em;
}