h1.person-name {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.detail--subtitle {
    font-family: 'Rubik';
    font-style: normal;
    padding-right: 0;
}

.offer-type {
    font-weight: normal;
}
.experience {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 1.5em;
    text-align: left;
}
  
.person-img {
    display: inline;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    object-fit: cover;
}


.detail--info {
    color: #5A5A5A;
    text-align: left;
}

.row--request {
    justify-content: center;
}

.btn-flat, .btn-flat:hover, .btn-flat:active, .btn-flat:focus, .btn-flat:enabled, .btn-flat:focus-visible {
    background-color: #EF7146;
    color: #FFF;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    max-width: fit-content;
    padding: 1% 10%; 
    border-radius: 0.8em;
    font-size: larger;
}